/* App.css */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #000000;
    color: #f9f9f9;
}

.App {
    text-align: center;
}

section {
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    margin: 0;
    letter-spacing: 0.1em;
    line-height: 1.2;
}

p {
    font-size: 1.5rem;
    max-width: 800px;
    line-height: 1.5;
}

a.button {
    background: #ee5d1a;
    color: #f9f9f9;
    padding: 15px 30px;
    margin-top: 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

a.button:hover {
    background: #f19164;
}

/* Section-specific styles */
#home {
    background: #000000;
    color: #f9f9f9;
}


#about {
    background: #ee5d1a;
    color: #f9f9f9;
}

#contact {
    background: #000000;
    color: #f9f9f9;
}


/* Hero Section with Background Image */
#home {
    background: url('./ES_Logo.png') no-repeat center center/cover;
    color: #f9f9f9;
}

/* Adding Icons to Services */
#services p {

    flex-direction: column;
    align-items: center;
}

#services p::before {
    content: '';

    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

/* Animations */
h1, p {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer Styles */
footer {
    background: #000000;
    color: #f9f9f9;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    font-size: 0.8rem; /* Reduced text size */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Services Section */
#services {
    background: #f5c5ae;
    color: #000000;
    padding: 100px 20px;
    text-align: left;
}

.service-section {
    margin-bottom: 50px;
}

.service-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ee5d1a;
}

.service-section p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.service-section ul {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}

.service-section ul li {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5;
}

.service-section ul li strong {
    color: #f19164;
}

/* Media Section for Game Development */
.media {
    text-align: center;
}

.media h3 {
    font-size: 2rem;
    color: #ee5d1a;
}

.media p {
    font-size: 1.2rem;
    color: #000000;
}

.media-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showcase-video {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.showcase-photo {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Button Styles */
.button {
    display: inline-block;
    background: #ee5d1a;
    color: #f9f9f9;
    padding: 15px 30px;
    margin-top: 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background: #f19164;
}

